.articleForm .formItem {
	border: 2px solid lightgrey;
	border-radius: 5px;
}

.articleForm .formItem:hover {
	border: 2px solid grey;
}

.articleForm div {
	clear: both;
	display: block;
}

.articleForm .formButton {
	padding: 10px 10px;
	border-radius: 10px;
	color: white;
	text-align: center;
	background: linear-gradient(brown, red);
}

.articleForm .formButton:hover {
	background: brown;
}
