body {
  background: linear-gradient(to left, #232526, #414345);
}
header {
  background: #3a5795;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #3a5794;
  height: 80px;
  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 10;
}
header .menuButton {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
header .bigButton {
  background: linear-gradient(brown, pink);
  border-radius: 10px;
  color: white;
  display: inline-block;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  padding: 10px 20px;
  text-decoration: none;
}
header .bigButton:hover {
  background: pink;
}
.menuButton:hover {
  background-color: dodgerblue;
}
/*  Menu section */
.category li {
  float: left;
}
.category li:hover > ul {
  border: 0;
  display: block;
}
.category a {
  color: white;
  display: block;
  padding: 0 20px;
  text-decoration: none;
}
.category .subcategory {
  display: none;
  position: absolute;
  top: 60px;
}
.category .subcategory li a {
  color: #ffffff;
  margin: 0;
}
.category .subcategory li:first-child {
  -moz-border-radius: 0 20px 0 0;
  -webkit-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
.category .subcategory li:last-child {
  -moz-border-radius: 0 0 20px 0;
  -webkit-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}
.category .subcategory .menuButton {
  background-color: #4BC970;
  display: block;
  float: none;
  margin: 0;
  margin-left: -20px;
  width: 150px;
  transition: all .4s ease;
}
.category .subcategory .menuButton:hover {
  background: skyblue;
}
/* End Menu Section */
/* SEARCH BAR START */
#searchForm {
  position: relative;
  top: 25px;
}
#searchForm .searchBar {
  border: 1px solid lightblue;
  float: left;
  height: 25px;
}
#searchForm .searchBar:hover {
  border: 1px solid blue;
}
#searchForm .searchButton {
  border: 1px solid lightgrey;
  float: left;
  height: 27px;
  padding: 1px 5px;
}
#searchForm .searchButton:hover {
  border: 1px solid grey;
}
/*SEARCH BAR END*/
main {
  background: linear-gradient(to bottom, #02AAB0, #00CDAC);
  border: 2px solid lightblue;
  min-height: 600px;
  padding-bottom: 50px;
  position: relative;
  top: 90px;
}
.heading {
  margin-top: 20px;
  text-align: center;
}
/*  Categories section */
.category-container {
  margin-left: 120px;
}
.item_box {
  background-color: dodgerblue;
  background-size: 100% 100%;
  color: black;
  font-size: 20px;
  height: 200px;
  text-align: center;
}
.item_box:hover {
  background-color: skyblue;
  border-color: red;
  transform: rotate(360deg);
  border-radius: 100px;
  transition: all 0.3s ease;
}
.item_box .category-title {
  color: white;
  margin-bottom: 20px;
}
.item_box .category-link {
  display: block;
  padding: 20px 20px 35px 20px;
  position: relative;
}
.category-icon {
  height: 100px;
  width: 100px;
}
/* END Categories Section */
footer {
  background: grey;
  bottom: 0px;
  height: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
}
